.circle {
    width: 80px;
    height: 80px;
    background: #FEC36A;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(254, 195, 106, 0.2), 0 6px 20px 0 rgba(54, 195, 106, 0.19);
}

.conteiner-word {
    background: linear-gradient(to bottom, #F32131 50%, #ffffff 50%);
    height: 550px;
    border-top-left-radius: 250px;
    margin-bottom: 8px;
    padding-left: 150px;
    padding-top: 70px;
}

.conteiner-word p {
    color: #ffffff;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

.img {
    width: 360px;
    height: 260px;
    box-shadow: -1px 6px 28px -11px rgba(0, 0, 0, 0.75);
    border-radius: 2%;
    margin-left: 20px;
}

@media screen and (max-width: 400px) {

    .conteiner-word {
        height: 619px;
        border-top-left-radius: 0;
        padding-left: 0;
        padding-top: 0;
    }

    .conteiner-word p {
        font-size: 38px;
    }

    .circle {
        margin-bottom: 16px;
    }

    .img {
        width: 240px;
        height: 220px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 1000px) {

}