.header {
  /*background: #F62839;*/
  margin: -7.9px -7.8px;
  margin-bottom: 0;
}

.menu {
  font-size: 15px;
  font-weight: bold;
  /*margin-top: 15px;*/
}

.nav-conteiner {
  background: #f62839;
  margin-right: -32px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu a {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

.item {
  color: #ffffff;
  font-family: Open Sans;
  text-decoration: none;
}

.last-Item {
  background: #ffffff;
  border-bottom-right-radius: 30px;
  color: #f62839;
  font-family: Open Sans;
  padding: 10px 20px;
  text-decoration: none;
}

.last-Item:hover {
  color: #4a2d9a;
  transition: 0.5s;
}

.logo {
  background-color: #ffffff;
}

.img-pretty {
  width: 150px;
  padding-top: 5px;
}

.hvr-underline-reveal {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  overflow: hidden;
  position: relative;
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.hvr-underline-reveal:before {
  background: #2098d1;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateY(4px);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.hvr-underline-reveal:active:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:hover:before {
  transform: translateY(0);
}

.hvr-glow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  vertical-align: middle;
}

.hvr-glow:active,
.hvr-glow:focus,
.hvr-glow:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@media (max-width: 513px) {
  .img-pretty {
    width: 130px;
  }

  .last-Item {
    background: #ffffff;
    border-bottom-right-radius: 0px;
    color: #f62839;
    font-family: Open Sans;
    margin-top: 5px;
    padding: 10px 20px;
    text-decoration: none;
  }
}
