.copyRight {
    background-color: #492d9d;
    color: #ffffff;
    padding: 10px 15px;
}
.diferent {
    background-color: black;
}
.footerText{
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
    font-weight: 700;
    color: #4A2D9A;
}